/* imac 21 4k inch Styles here */
@media (min-width: 1920px) and (max-width: 2560px) {}

@media (min-width: 1920px) and (max-width: 2560px) {}

@media (min-width: 1600px) and (max-width: 1919px) {

    .container_1360_wrp {
        max-width: 1280px;
    }

    .sub_ttle {
        font-size: 20px;
    }

    .common_ttle {
        font-size: 36px;
        letter-spacing: -1.5px;
    }

    .banner_home .container_1360_wrp .caption-wrp h2 {
        font-size: 50px;
    }

    .banner_home .container_1360_wrp .caption-wrp p {
        font-size: 20px;
    }

    .banner_home .container_1360_wrp .bnr_desg img {
        max-width: 50%;
    }

    .glance_wrp .glance_rhs .cvr h2 {
        font-size: 30px;
    }

    .glance_wrp .glance_rhs .cvr p {
        font-size: 16px;
        line-height: 24px;
    }

    .glance_wrp .glance_lhs .desc_cvr .cvr h2 {
        font-size: 32px;
        max-width: 300px;
        letter-spacing: -0.5px;
    }

    .glance_wrp .glance_lhs .desc_cvr {
        min-height: 430px;
    }

    .buss_seg_wrp .buss_lhs {
        font-size: 18px;
        line-height: 28px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card h2 {
        font-size: 36px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card p {
        font-size: 13px;
        line-height: 15px;
    }

    .strategy_wrp .desc_top {
        font-size: 20px;
        line-height: 30px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card {
        padding: 30px 30px 20px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card h2 {
        font-size: 32px;
        letter-spacing: -1.5px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card p {
        font-size: 16px;
        line-height: 26px;
    }

    .chairman_msg_wrp .img_cvr {
        width: 816px;
    }

    .chairman_msg_wrp .common_ttle {
        font-size: 62px;
        max-width: 500px;
    }

    .chairman_msg_wrp {
        height: 690px;
    }

    .chairman_msg_wrp .quote_wrp .quote_txt {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.5px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb h2 {
        font-size: 40px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb p {
        font-size: 14px;
        line-height: 18px;
    }

    .sustainability_wrp .sus_lhs .common_ttle {
        font-size: 62px;
    }

    .sustainability_wrp .sus_rhs p {
        font-size: 16px;
        line-height: 26px;
    }



    .sustainability_wrp .sus_rhs .lined_txt h6 {
        font-size: 18px;
    }

    .sustainability_wrp {
        height: 700px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .common_ttle {
        max-width: 450px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .desc_top {
        font-size: 18px;
        line-height: 26px;
    }

    .resp_action_wrp .tab-content .esg_social_wrp .desc_top {
        font-size: 16px;
        line-height: 24px;
        min-height: 130px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .desc_top {
        font-size: 18px;
        line-height: 26px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .caption_wrp {
        max-width: 1060px;
    }

    .risk_manage_wrp .rm_card .cvr p {
        font-size: 18px;
        line-height: 26px;
    }

    .risk_manage_wrp .rm_card .cvr {
        min-height: 475px;
    }

    .risk_manage_wrp .rm_card {
        min-height: 769px;
    }

    .risk_manage_wrp .rm_card.award_card .cvr {
        min-height: 450px;
    }

    .banner_home {
        height: calc(700px - 100px);
    }

    .banner_home .container_1360_wrp .bnr_flwr {
        width: 170px;
        transform: translate(-100%, 0%);
    }

    .banner_home .container_1360_wrp .bnr_desg {
        margin-top: 55px;
    }


}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {

    .container_1360_wrp {
        max-width: 1170px;
    }

    .sub_ttle {
        font-size: 20px;
    }

    .common_ttle {
        font-size: 36px;
        letter-spacing: -1.5px;
    }

    .banner_home .container_1360_wrp .caption-wrp h2 {
        font-size: 50px;
    }

    .banner_home .container_1360_wrp .caption-wrp p {
        font-size: 20px;
    }

    .banner_home .container_1360_wrp .bnr_desg img {
        max-width: 50%;
    }

    .glance_wrp .glance_rhs .cvr h2 {
        font-size: 30px;
    }

    .glance_wrp .glance_rhs .cvr p {
        font-size: 16px;
        line-height: 24px;
    }

    .glance_wrp .glance_lhs .desc_cvr .cvr h2 {
        font-size: 32px;
        max-width: 300px;
        letter-spacing: -0.5px;
    }

    .glance_wrp .glance_lhs .desc_cvr {
        min-height: 430px;
    }

    .buss_seg_wrp .buss_lhs {
        font-size: 18px;
        line-height: 28px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card h2 {
        font-size: 36px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card p {
        font-size: 13px;
        line-height: 15px;
    }

    .strategy_wrp .desc_top {
        font-size: 20px;
        line-height: 30px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card {
        padding: 30px 30px 20px;
        height: 500px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card h2 {
        font-size: 32px;
        letter-spacing: -1.5px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card p {
        font-size: 16px;
        line-height: 26px;
    }

    .chairman_msg_wrp .img_cvr {
        width: 816px;
    }

    .chairman_msg_wrp .common_ttle {
        font-size: 52px;
        max-width: 500px;
    }

    .chairman_msg_wrp {
        height: 690px;
    }

    .chairman_msg_wrp .quote_wrp .quote_txt {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.5px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb h2 {
        font-size: 40px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb p {
        font-size: 14px;
        line-height: 18px;
    }

    .sustainability_wrp .sus_lhs .common_ttle {
        font-size: 52px;
        max-width: 700px;
    }

    .sustainability_wrp .sus_rhs p {
        font-size: 16px;
        line-height: 26px;
    }



    .sustainability_wrp .sus_rhs .lined_txt h6 {
        font-size: 18px;
    }

    .sustainability_wrp {
        height: 700px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .common_ttle {
        max-width: 450px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .desc_top {
        font-size: 18px;
        line-height: 26px;
    }

    .resp_action_wrp .tab-content .esg_social_wrp .desc_top {
        font-size: 16px;
        line-height: 24px;
        min-height: 130px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .desc_top {
        font-size: 18px;
        line-height: 26px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .caption_wrp {
        max-width: 1060px;
    }

    .risk_manage_wrp .rm_card .cvr p {
        font-size: 18px;
        line-height: 26px;
    }

    .risk_manage_wrp .rm_card .cvr {
        min-height: 475px;
    }

    .risk_manage_wrp .rm_card {
        min-height: 769px;
    }

    .risk_manage_wrp .rm_card.award_card .cvr {
        min-height: 450px;
    }

    .banner_home {
        height: calc(700px - 100px);
    }

    .banner_home .container_1360_wrp .bnr_flwr {
        width: 170px;
        transform: translate(-100%, 0%);
    }

    .banner_home .container_1360_wrp .bnr_desg {
        margin-top: 55px;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1399px) {

    .container_1360_wrp {
        max-width: 1170px;
    }

    .sub_ttle {
        font-size: 20px;
    }

    .common_ttle {
        font-size: 36px;
        letter-spacing: -1.5px;
    }

    .banner_home .container_1360_wrp .caption-wrp h2 {
        font-size: 50px;
    }

    .banner_home .container_1360_wrp .caption-wrp p {
        font-size: 20px;
    }

    .banner_home .container_1360_wrp .bnr_desg img {
        max-width: 50%;
    }

    .glance_wrp .glance_rhs .cvr h2 {
        font-size: 30px;
    }

    .glance_wrp .glance_rhs .cvr p {
        font-size: 16px;
        line-height: 24px;
    }

    .glance_wrp .glance_lhs .desc_cvr .cvr h2 {
        font-size: 32px;
        max-width: 300px;
        letter-spacing: -0.5px;
    }

    .glance_wrp .glance_lhs .desc_cvr {
        min-height: 430px;
    }

    .buss_seg_wrp .buss_lhs {
        font-size: 18px;
        line-height: 28px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card h2 {
        font-size: 36px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card p {
        font-size: 13px;
        line-height: 15px;
    }

    .strategy_wrp .desc_top {
        font-size: 20px;
        line-height: 30px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card {
        padding: 30px 30px 20px;
        height: 520px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card h2 {
        font-size: 32px;
        letter-spacing: -1.5px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card p {
        font-size: 18px;
        line-height: 24px;
    }

    .chairman_msg_wrp .img_cvr {
        width: 94%;
        margin-top: -90px;
    }

    .chairman_msg_wrp .common_ttle {
        font-size: 52px;
        max-width: 500px;
    }

    .chairman_msg_wrp {
        height: 690px;
    }

    .chairman_msg_wrp .quote_wrp .quote_txt {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.5px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb h2 {
        font-size: 40px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb p {
        font-size: 14px;
        line-height: 18px;
    }

    .sustainability_wrp .sus_lhs .common_ttle {
        font-size: 52px;
        max-width: 700px;
    }

    .sustainability_wrp .sus_rhs p {
        font-size: 18px;
        line-height: 26px;
    }



    .sustainability_wrp .sus_rhs .lined_txt h6 {
        font-size: 18px;
    }

    .sustainability_wrp {
        height: 700px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .common_ttle {
        max-width: 450px;
        margin: 0 auto;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .desc_top {
        font-size: 18px;
        line-height: 26px;
    }

    .resp_action_wrp .tab-content .esg_social_wrp .desc_top {
        font-size: 18px;
        line-height: 24px;
        min-height: 130px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .desc_top {
        font-size: 18px;
        line-height: 26px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .caption_wrp {
        max-width: 1060px;
    }

    .risk_manage_wrp .rm_card .cvr p {
        font-size: 18px;
        line-height: 26px;
    }

    .risk_manage_wrp .rm_card .cvr {
        min-height: 475px;
    }

    .risk_manage_wrp .rm_card {
        min-height: 769px;
    }

    .risk_manage_wrp .rm_card.award_card .cvr {
        min-height: 450px;
    }

    .banner_home {
        height: calc(700px - 100px);
    }

    .banner_home .container_1360_wrp .bnr_flwr {
        width: 170px;
        transform: translate(-100%, 0%);
    }

    .banner_home .container_1360_wrp .bnr_desg {
        margin-top: 55px;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */

/* Medium */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

/* Small */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* Extra small */
@media (min-width: 320px) and (max-width: 767px) {

    .sub_ttle {
        font-size: 18px;
    }

    .common_ttle {
        font-size: 32px;
    }

    .chairman_msg_wrp .container_1360_wrp {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        transform: translate(0, 0);
    }

    .chairman_msg_wrp .h-100 {
        height: inherit !important;
    }

    .chairman_msg_wrp .common_ttle {
        position: relative;
        bottom: inherit;
        left: inherit;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .chairman_msg_wrp {
        background-image: none;
        height: auto;
        background-color: #1A55A6;
        padding: 40px 15px;
    }

    .chairman_msg_wrp .img_cvr {
        margin-top: 0px;
    }

    .chairman_msg_wrp .quote_wrp .quote_txt {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin: 20px 0px;
    }

    .chairman_msg_wrp .quote_wrp .name {
        font-size: 16px;
    }

    .chairman_msg_wrp .quote_wrp .name span {
        font-size: 14px;
    }

    .chairman_msg_wrp .quote_wrp a.common_cta {
        margin-bottom: 10px;
    }

    .chairman_msg_wrp .container_1360_wrp {
        padding-bottom: 0px;
    }

    .sustainability_wrp .sus_lhs .common_ttle {
        font-size: 36px;
    }

    .banner_home {
        height: 650px;
        background-position: 65% 0%;
    }


    .banner_home .container_1360_wrp .bnr_desg {
        margin-top: -205px;
    }

    .banner_home .container_1360_wrp .bnr_desg img {
        max-width: 50%;
    }

    .banner_home .container_1360_wrp .align-items-center {
        align-items: flex-start !important;
    }

    .banner_home .container_1360_wrp .caption-wrp h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }


    .banner_home .container_1360_wrp .caption-wrp p {
        font-size: 20px;

    }

    .banner_home .container_1360_wrp .scoll_bnr {
        display: none;
    }

    .glance_wrp .glance_lhs .desc_cvr {
        padding: 20px;
    }

    .glance_wrp .glance_lhs .desc_cvr .cvr h2 {
        font-size: 32px;
    }

    .glance_wrp .glance_lhs .desc_cvr .cvr p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .glance_wrp .glance_rhs {
        padding: 30px 0px;
    }

    .glance_wrp .glance_rhs .cvr .glance_grid .glance_card {
        width: 32%;
    }

    .glance_wrp .glance_rhs .cvr h2 {
        font-size: 30px;
    }

    .glance_wrp .glance_rhs .cvr p {
        font-size: 16px;
        line-height: 24px;
    }

    .glance_wrp {
        padding: 40px 0px 0px;
    }

    .buss_seg_wrp .buss_lhs {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .buss_seg_wrp .buss_rhs .bus_rhs_pic {
        border-radius: 20px 20px 0px 0px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card.info_card1 {
        border-radius: 0px 0px 0px 0px;
        padding: 20px 20px 20px 60px;
        height: auto;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card.info_card2 {
        border-radius: 0px 0px 20px 20px;
        padding: 20px 20px 20px 60px;
        height: auto;
    }


    .buss_seg_wrp .buss_rhs .info_cvr .info_card.info_card3 {
        border-radius: 0px 0px 0px 0px;
        padding: 20px 20px 20px 60px;
        height: auto;
    }


    .buss_seg_wrp .buss_rhs .info_cvr .info_card .icn {
        left: 10px;
    }

    .buss_seg_wrp .buss_rhs .info_cvr .info_card h2 {
        font-size: 36px;
    }

    .buss_seg_wrp {
        padding: 40px 0px;
    }

    .strategy_wrp .desc_top {
        font-size: 16px;
        line-height: 24px;
    }

    .strategy_wrp .bs_grid_wrp .bs_card {
        padding: 20px;
        height: auto;
        border-radius: 20px;
    }

    .strategy_wrp {
        padding: 40px 0px;
    }

    .kpi_main_wrp .kpi_tabs ul.nav {
        justify-content: space-between;
    }

    .kpi_main_wrp .kpi_tabs ul.nav li {
        width: 49%;
    }

    .kpi_main_wrp .kpi_tabs ul.nav li button {
        width: 100%;
        font-size: 18px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb h2 {
        font-size: 36px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb p {
        font-size: 13px;
        line-height: 15px;
    }

    .kpi_main_wrp .kpi_tabs .tab-content .non_fin_main .infonumb {
        margin: 20px 0px 0px;
        padding-left: 40px;
        background-size: 35px;
    }

    .kpi_main_wrp {
        padding: 40px 0px;
    }

    .sustainability_wrp .sus_rhs p {
        font-size: 16px;
        line-height: 24px;
    }

    .sustainability_wrp .sus_rhs .lined_txt h6 {
        font-size: 16px;
    }

    .sustainability_wrp .sus_lhs {
        margin-bottom: 30px;
    }

    .sustainability_wrp {
        height: auto;
        padding: 40px 0px;
    }

    .resp_action_wrp ul.nav {
        max-width: 100%;
    }

    .resp_action_wrp ul.nav li button {
        width: 100%;
        height: 45px;
        font-size: 14px;
    }

    .resp_action_wrp {
        padding: 40px 0px;
    }

    .resp_action_wrp ul.nav li {
        width: 32%;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .caption_wrp .desc_top {
        font-size: 16px;
        line-height: 24px;
    }

    .resp_action_wrp .tab-content .esg_gov_wrp .base_wrp .base_lhs h2 {
        font-size: 24px;
    }

    .resp_action_wrp .tab-content .esg_social_wrp .desc_top {
        font-size: 16px;
        line-height: 24px;
    }

    .esg_soc_card {
        margin-bottom: 30px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .desc_top {
        font-size: 16px;
        line-height: 24px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .sldr_cvr .envi_sldr {
        margin-top: 0px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .sldr_cvr .envi_sldr .swiper-slide {
        padding: 20px;
        height: 400px;
    }


    .resp_action_wrp .tab-content .esg_envi_wrp .sldr_cvr .envi_sldr .swiper-slide .align-items-center {
        align-items: flex-start !important;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .sldr_cvr .envi_sldr .swiper-slide .h-100 {
        height: auto !important;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .sldr_cvr .envi_sldr .swiper-slide .envi_lhs h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .resp_action_wrp .tab-content .esg_envi_wrp .sldr_cvr {
        height: auto;
    }

    .risk_manage_wrp {
        padding: 40px 0px;

    }

    .risk_manage_wrp .rm_card .cvr {
        padding: 20px;
    }

    .risk_manage_wrp .rm_card .cvr p {
        font-size: 16px;
        line-height: 24px;
    }

    .risk_manage_wrp .rm_card {
        min-height: auto;
        margin-bottom: 20px;
    }

    .risk_manage_wrp .rm_card.award_card .cvr {
        min-height: auto;
    }

    .risk_manage_wrp .rm_card.award_card .pic_cvr {
        margin-top: 0px;
    }

    .dc_main_wrp {
        padding: 0px 0px 40px;
    }

    .dc_main_wrp .container_1360_wrp .dc_main_grid .dc_common_links {
        padding: 20px 130px 20px 20px;

    }

    .dc_main_wrp .container_1360_wrp .dc_main_grid .dc_common_links span {
        font-size: 20px;
    }


    .banner_home .container_1360_wrp .bnr_flwr {
        width: 155px;
        position: absolute;
        bottom: 0px;
        right: inherit;
        left: 45%;
        transform: translate(-50%, 0%);
    }

    .banner_home .container_1360_wrp .align-items-center.h-100 {
        height: auto !important;
    }

    .banner_home .container_1360_wrp .align-items-center.h-100 .caption-wrp {
        padding-top: 30px;
    }

}