.so-widget-ink-num-count-number-e6a546e4984f-428 .iw-so-number-title {
  color: inherit;
  margin-top: 0;
}
.so-widget-ink-num-count-number-e6a546e4984f-428 .iw-so-number-count {
  color: #fc6042;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}
.so-widget-ink-num-count-number-e6a546e4984f-428 .iw-so-number {
  padding: 30px 15px;
}