.so-widget-ink-num-count-number-8e3003187c05 .iw-so-number-title {
  color: #6b6b6b;
  margin-bottom: 0;
}
.so-widget-ink-num-count-number-8e3003187c05 .iw-so-number-count {
  color: #ffffff;
  font-size: 34px;
  line-height: 34px;
  margin: 0;
}
.so-widget-ink-num-count-number-8e3003187c05 .iw-so-number {
  padding: 30px 15px;
}