@font-face {
  font-family: "Aaux ProRegular";
  src: url("../fonts/AauxProRegular.eot");
  src: url("../fonts/AauxProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AauxProRegular.woff2") format("woff2"), url("../fonts/AauxProRegular.woff") format("woff"), url("../fonts/AauxProRegular.ttf") format("truetype"), url("../fonts/AauxProRegular.svg#AauxProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/AcuminPro-Bold.eot");
  src: url("../fonts/AcuminPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AcuminPro-Bold.woff2") format("woff2"), url("../fonts/AcuminPro-Bold.woff") format("woff"), url("../fonts/AcuminPro-Bold.ttf") format("truetype"), url("../fonts/AcuminPro-Bold.svg#AcuminPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/AcuminPro-Regular.eot");
  src: url("../fonts/AcuminPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AcuminPro-Regular.woff2") format("woff2"), url("../fonts/AcuminPro-Regular.woff") format("woff"), url("../fonts/AcuminPro-Regular.ttf") format("truetype"), url("../fonts/AcuminPro-Regular.svg#AcuminPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/AcuminPro-Light.eot");
  src: url("../fonts/AcuminPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AcuminPro-Light.woff2") format("woff2"), url("../fonts/AcuminPro-Light.woff") format("woff"), url("../fonts/AcuminPro-Light.ttf") format("truetype"), url("../fonts/AcuminPro-Light.svg#AcuminPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.proximaNova-Rg {
  font-family: "Proxima Nova Rg";
  font-weight: normal;
}

.proximaNova-bd {
  font-family: "Proxima Nova Rg";
  font-weight: bold;
}

.proximaNova-sb {
  font-family: "Proxima Nova Lt";
  font-weight: 600;
}

.Aauxpro {
  font-family: "Aaux ProRegular";
  font-family: normal;
}

.acuminPro-bold {
  font-family: "Acumin Pro";
  font-weight: bold;
}

.acuminPro-normal {
  font-family: "Acumin Pro";
  font-weight: normal;
}

.acuminPro-light {
  font-family: "Acumin Pro";
  font-weight: 300;
}

.mt0 {
  margin-top: 0px;
}

.pt0 {
  padding-top: 0px;
}

.mb0 {
  margin-bottom: 0px;
}

.pb0 {
  padding-bottom: 0px;
}

.ml0 {
  margin-left: 0px;
}

.pl0 {
  padding-left: 0px;
}

.mr0 {
  margin-right: 0px;
}

.pr0 {
  padding-right: 0px;
}

.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

.mt5 {
  margin-top: 5px;
}

.pt5 {
  padding-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.pl5 {
  padding-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.pr5 {
  padding-right: 5px;
}

.m5 {
  margin: 5px;
}

.p5 {
  padding: 5px;
}

.mt10 {
  margin-top: 10px;
}

.pt10 {
  padding-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.pl10 {
  padding-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.pr10 {
  padding-right: 10px;
}

.m10 {
  margin: 10px;
}

.p10 {
  padding: 10px;
}

.mt15 {
  margin-top: 15px;
}

.pt15 {
  padding-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.ml15 {
  margin-left: 15px;
}

.pl15 {
  padding-left: 15px;
}

.mr15 {
  margin-right: 15px;
}

.pr15 {
  padding-right: 15px;
}

.m15 {
  margin: 15px;
}

.p15 {
  padding: 15px;
}

.mt20 {
  margin-top: 20px;
}

.pt20 {
  padding-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.pl20 {
  padding-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.pr20 {
  padding-right: 20px;
}

.m20 {
  margin: 20px;
}

.p20 {
  padding: 20px;
}

.mt25 {
  margin-top: 25px;
}

.pt25 {
  padding-top: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

.ml25 {
  margin-left: 25px;
}

.pl25 {
  padding-left: 25px;
}

.mr25 {
  margin-right: 25px;
}

.pr25 {
  padding-right: 25px;
}

.m25 {
  margin: 25px;
}

.p25 {
  padding: 25px;
}

.mt30 {
  margin-top: 30px;
}

.pt30 {
  padding-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.ml30 {
  margin-left: 30px;
}

.pl30 {
  padding-left: 30px;
}

.mr30 {
  margin-right: 30px;
}

.pr30 {
  padding-right: 30px;
}

.m30 {
  margin: 30px;
}

.p30 {
  padding: 30px;
}

.mt35 {
  margin-top: 35px;
}

.pt35 {
  padding-top: 35px;
}

.mb35 {
  margin-bottom: 35px;
}

.pb35 {
  padding-bottom: 35px;
}

.ml35 {
  margin-left: 35px;
}

.pl35 {
  padding-left: 35px;
}

.mr35 {
  margin-right: 35px;
}

.pr35 {
  padding-right: 35px;
}

.m35 {
  margin: 35px;
}

.p35 {
  padding: 35px;
}

.mt40 {
  margin-top: 40px;
}

.pt40 {
  padding-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.ml40 {
  margin-left: 40px;
}

.pl40 {
  padding-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

.pr40 {
  padding-right: 40px;
}

.m40 {
  margin: 40px;
}

.p40 {
  padding: 40px;
}

.mt45 {
  margin-top: 45px;
}

.pt45 {
  padding-top: 45px;
}

.mb45 {
  margin-bottom: 45px;
}

.pb45 {
  padding-bottom: 45px;
}

.ml45 {
  margin-left: 45px;
}

.pl45 {
  padding-left: 45px;
}

.mr45 {
  margin-right: 45px;
}

.pr45 {
  padding-right: 45px;
}

.m45 {
  margin: 45px;
}

.p45 {
  padding: 45px;
}

.mt50 {
  margin-top: 50px;
}

.pt50 {
  padding-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.ml50 {
  margin-left: 50px;
}

.pl50 {
  padding-left: 50px;
}

.mr50 {
  margin-right: 50px;
}

.pr50 {
  padding-right: 50px;
}

.m50 {
  margin: 50px;
}

.p50 {
  padding: 50px;
}

.mt55 {
  margin-top: 55px;
}

.pt55 {
  padding-top: 55px;
}

.mb55 {
  margin-bottom: 55px;
}

.pb55 {
  padding-bottom: 55px;
}

.ml55 {
  margin-left: 55px;
}

.pl55 {
  padding-left: 55px;
}

.mr55 {
  margin-right: 55px;
}

.pr55 {
  padding-right: 55px;
}

.m55 {
  margin: 55px;
}

.p55 {
  padding: 55px;
}

.mt60 {
  margin-top: 60px;
}

.pt60 {
  padding-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.ml60 {
  margin-left: 60px;
}

.pl60 {
  padding-left: 60px;
}

.mr60 {
  margin-right: 60px;
}

.pr60 {
  padding-right: 60px;
}

.m60 {
  margin: 60px;
}

.p60 {
  padding: 60px;
}

.mt65 {
  margin-top: 65px;
}

.pt65 {
  padding-top: 65px;
}

.mb65 {
  margin-bottom: 65px;
}

.pb65 {
  padding-bottom: 65px;
}

.ml65 {
  margin-left: 65px;
}

.pl65 {
  padding-left: 65px;
}

.mr65 {
  margin-right: 65px;
}

.pr65 {
  padding-right: 65px;
}

.m65 {
  margin: 65px;
}

.p65 {
  padding: 65px;
}

.mt70 {
  margin-top: 70px;
}

.pt70 {
  padding-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.ml70 {
  margin-left: 70px;
}

.pl70 {
  padding-left: 70px;
}

.mr70 {
  margin-right: 70px;
}

.pr70 {
  padding-right: 70px;
}

.m70 {
  margin: 70px;
}

.p70 {
  padding: 70px;
}

.mt75 {
  margin-top: 75px;
}

.pt75 {
  padding-top: 75px;
}

.mb75 {
  margin-bottom: 75px;
}

.pb75 {
  padding-bottom: 75px;
}

.ml75 {
  margin-left: 75px;
}

.pl75 {
  padding-left: 75px;
}

.mr75 {
  margin-right: 75px;
}

.pr75 {
  padding-right: 75px;
}

.m75 {
  margin: 75px;
}

.p75 {
  padding: 75px;
}

.mt80 {
  margin-top: 80px;
}

.pt80 {
  padding-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.ml80 {
  margin-left: 80px;
}

.pl80 {
  padding-left: 80px;
}

.mr80 {
  margin-right: 80px;
}

.pr80 {
  padding-right: 80px;
}

.m80 {
  margin: 80px;
}

.p80 {
  padding: 80px;
}

.mt90 {
  margin-top: 90px;
}

.pt90 {
  padding-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.pb90 {
  padding-bottom: 90px;
}

.ml90 {
  margin-left: 90px;
}

.pl90 {
  padding-left: 90px;
}

.mr90 {
  margin-right: 90px;
}

.pr90 {
  padding-right: 90px;
}

.m90 {
  margin: 90px;
}

.p90 {
  padding: 90px;
}

.mt100 {
  margin-top: 100px;
}

.pt100 {
  padding-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.ml100 {
  margin-left: 100px;
}

.pl100 {
  padding-left: 100px;
}

.mr100 {
  margin-right: 100px;
}

.pr100 {
  padding-right: 100px;
}

.m100 {
  margin: 100px;
}

.p100 {
  padding: 100px;
}

.mt105 {
  margin-top: 105px;
}

.pt105 {
  padding-top: 105px;
}

.mb105 {
  margin-bottom: 105px;
}

.pb105 {
  padding-bottom: 105px;
}

.ml105 {
  margin-left: 105px;
}

.pl105 {
  padding-left: 105px;
}

.mr105 {
  margin-right: 105px;
}

.pr105 {
  padding-right: 105px;
}

.m105 {
  margin: 105px;
}

.p105 {
  padding: 105px;
}

.mt110 {
  margin-top: 110px;
}

.pt110 {
  padding-top: 110px;
}

.mb110 {
  margin-bottom: 110px;
}

.pb110 {
  padding-bottom: 110px;
}

.ml110 {
  margin-left: 110px;
}

.pl110 {
  padding-left: 110px;
}

.mr110 {
  margin-right: 110px;
}

.pr110 {
  padding-right: 110px;
}

.m110 {
  margin: 110px;
}

.p110 {
  padding: 110px;
}

.mt115 {
  margin-top: 115px;
}

.pt115 {
  padding-top: 115px;
}

.mb115 {
  margin-bottom: 115px;
}

.pb115 {
  padding-bottom: 115px;
}

.ml115 {
  margin-left: 115px;
}

.pl115 {
  padding-left: 115px;
}

.mr115 {
  margin-right: 115px;
}

.pr115 {
  padding-right: 115px;
}

.m115 {
  margin: 115px;
}

.p115 {
  padding: 115px;
}

/*Color Var*/
.white {
  color: #ffffff !important;
}

.black {
  color: #000000 !important;
}

.grey {
  color: #343434 !important;
}

.skyblue {
  color: #00aeef !important;
}

.green {
  color: #3ab54a !important;
}

.orange {
  color: #f58233 !important;
}

.darkblue {
  color: #1855a5 !important;
}

/* $Dm-Serif:'DM Serif Display';
.DM-Serif-Display {font-family:$Dm-Serif} */
/*Font Size*/
/* Fonts Size Var */
.fs12 {
  font-size: 12px !important;
  line-height: 14px;
}

.fs14 {
  font-size: 14px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs22 {
  font-size: 22px;
  line-height: 28px;
}

.fs24 {
  font-size: 24px !important;
  line-height: 30px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
  line-height: 36px;
}

.fs30 {
  font-size: 30px;
  line-height: 38px !important;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
  line-height: 42px;
}

.fs40 {
  font-size: 40px !important;
  line-height: 40px;
}

.fs44 {
  font-size: 44px !important;
  line-height: 40px;
}

.fs46 {
  font-size: 46px;
}

.fs48 {
  font-size: 48px;
}

.fs50 {
  font-size: 50px !important;
}

.fs52 {
  font-size: 52px;
}

.fs54 {
  font-size: 54px;
}

.fs56 {
  font-size: 56px;
  line-height: 55px;
}

.fs60 {
  font-size: 60px !important;
  line-height: 65px;
}

.fs64 {
  font-size: 64px !important;
  line-height: 65px;
}

.fs70 {
  font-size: 70px;
  line-height: 54px;
}

.fs72 {
  font-size: 72px;
}

.fs75 {
  font-size: 75px;
  line-height: 73px;
}

.fs85 {
  font-size: 85px;
}

.fs90 {
  font-size: 90px;
}

.fs100 {
  font-size: 100px;
}

.fs120 {
  font-size: 120px;
}

/*Be Roboto Font-weight Var*/
.font-weight-1 {
  font-weight: 100;
}

.font-weight-2 {
  font-weight: 200 !important;
}

.font-weight-3 {
  font-weight: 300 !important;
}

.font-weight-4 {
  font-weight: 400 !important;
}

.font-weight-5 {
  font-weight: 500 !important;
}

.font-weight-6 {
  font-weight: 600;
}

.font-weight-7 {
  font-weight: 700 !important;
}

.font-weight-8 {
  font-weight: 800 !important;
}

.font-weight-9 {
  font-weight: 900 !important;
}

.offwhite-bg {
  background-color: #f1f1f1;
}

:focus {
  outline: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.wow {
  visibility: hidden;
}

/*  */
/* .viewport { overflow: hidden; padding-bottom: 100px; } */
/* WEBKIT SCROLLBAR */
/* **************** */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(120, 120, 120, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(120, 120, 120, 0.6);
  -webkit-box-shadow: inset 0 0 4px rgba(120, 120, 120, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(120, 120, 120, 0.4);
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

.wow {
  visibility: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Acumin Pro";
}

.overflow {
  overflow: hidden;
}

.common-container {
  width: 1280px;
  margin: auto;
  position: relative;
}

a {
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #444444;
  font-family: "Adani";
}

.common-container {
  width: 1280px;
  margin: auto;
  position: relative;
  max-width: 100%;
}

/*  */
.right-br {
  border-right: solid 1px #ccc;
}

.bottom-br1 {
  border: 1px solid #e3d0ae;
}

.title36 {
  font-size: 36px;
  line-height: 40px;
}

.title24 {
  font-size: 24px;
  line-height: 32px;
}

.sectionTitle {
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .sectionTitle {
    font-size: 44px;
  }
}

.sectionPara {
  color: #343434;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.96px;
}
@media (min-width: 1200px) {
  .sectionPara {
    font-size: 20px;
  }
}

/*  */
.readmore {
  display: table;
  padding: 24px;
  color: #00aeef;
  text-align: center;
  font-family: "Acumin Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid;
  border-color: #00aeef;
  transition: all 0.5s;
  max-width: 150px;
}
.readmore:hover {
  background-color: #00aeef;
  color: #fff;
}

.header {
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .nav-download-btn {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #2293d2;
  padding: 13px 20px;
  font-size: 16px;
  color: #00aeef;
  font-weight: 300;
  transition: all 0.5s;
}
.header .container .nav-download-btn:hover {
  background-color: #2293d2;
  color: #ffffff;
}
.header .container .nav-download-btn:hover svg path {
  stroke: #ffffff;
}

.banner {
  margin-bottom: 50px;
}
.banner video {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .banner video {
    height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.banner .container .intro h1 {
  color: #00aeef;
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .banner .container .intro h1 {
    font-size: 48px;
  }
}
.banner .container .intro p {
  color: #343434;
  text-align: center;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1200px) {
  .banner .container .intro p {
    font-size: 22px;
  }
}

.transforming-for-greater-good {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 1200px) {
  .transforming-for-greater-good .gg-right {
    padding-left: 80px;
  }
}
.transforming-for-greater-good .gg-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 767px) {
  .transforming-for-greater-good .gg-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.transforming-for-greater-good .gg-grid .grid {
  padding: 32px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .transforming-for-greater-good .gg-grid .grid {
    padding: 32px 25px;
  }
}
.transforming-for-greater-good .gg-grid .grid span {
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin-bottom: 16px;
}
.transforming-for-greater-good .gg-grid .grid p {
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  .transforming-for-greater-good .gg-grid .grid p {
    font-size: 18px;
  }
}
.transforming-for-greater-good .gg-grid .grid1 {
  background-image: url("../images/greater-goods-1.jpg");
}
@media screen and (min-width: 1200px) {
  .transforming-for-greater-good .gg-grid .grid1 {
    grid-area: 1/1/2/5;
  }
}
.transforming-for-greater-good .gg-grid .grid2 {
  padding: 32px 32px;
  background-color: #00aeef;
}
@media screen and (max-width: 767px) {
  .transforming-for-greater-good .gg-grid .grid2 {
    order: 3;
  }
}
@media screen and (min-width: 1200px) {
  .transforming-for-greater-good .gg-grid .grid2 {
    grid-area: 1/5/4/6;
  }
}
.transforming-for-greater-good .gg-grid .grid2 span {
  color: #000000;
}
.transforming-for-greater-good .gg-grid .grid2 ul li {
  position: relative;
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 8px;
  margin-bottom: 48px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.transforming-for-greater-good .gg-grid .grid2 ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 4px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
}
.transforming-for-greater-good .gg-grid .grid3 {
  background-image: url("../images/greater-goods-2.jpg");
}
@media screen and (min-width: 1200px) {
  .transforming-for-greater-good .gg-grid .grid3 {
    grid-area: 2/1/4/5;
  }
}
.transforming-for-greater-good .readmore {
  margin: 50px auto 0;
}

.message-from-chairman {
  background-color: #fff;
}
.message-from-chairman .container {
  padding-bottom: 40px;
}
.message-from-chairman .container .row {
  align-items: end;
}
.message-from-chairman .container .row p {
  color: #2293d2;
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .message-from-chairman .container .row p {
    font-size: 24px;
  }
}
.message-from-chairman .container .row h2 {
  position: relative;
  color: #1855a5;
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1200px) {
  .message-from-chairman .container .row h2 {
    font-size: 64px;
  }
}
.message-from-chairman .container .row h2 img {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .message-from-chairman .container .row h2 img {
    width: 70%;
  }
}
.message-from-chairman .container .row .messageBox {
  background-color: #00aeef;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  margin-top: 50pxW;
}
@media screen and (max-width: 767px) {
  .message-from-chairman .container .row .messageBox {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.message-from-chairman .container .row .messageBox p {
  color: #fff;
  font-family: "Acumin Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.message-from-chairman .container .row .messageBox .readmore {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 50px;
}
.message-from-chairman .container .row .messageBox .readmore:hover {
  background-color: #fff;
  color: #00aeef;
}
.message-from-chairman .container .row .chairmanImageWrapper {
  position: absolute;
  right: 0;
  width: 56%;
  text-align: center;
}
.message-from-chairman .container .row .chairmanImageWrapper img {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .message-from-chairman .container .row .chairmanImageWrapper img {
    width: 80%;
  }
}
@media screen and (min-width: 1900px) {
  .message-from-chairman .container .row .chairmanImageWrapper img {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .message-from-chairman .container .row .chairmanImageWrapper {
    position: relative;
    width: 100%;
  }
}
.message-from-chairman .container .row.mdrow {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .message-from-chairman .container .row.mdrow {
    top: -100px;
  }
}
.message-from-chairman .container .row .nameWrapper {
  background: linear-gradient(90deg, #fff 74.3%, rgba(255, 255, 255, 0) 100%);
  padding: 50px;
  position: relative;
  top: -50%;
}
.message-from-chairman .container .row .nameWrapper h3 {
  color: #00aeef;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.message-from-chairman .container .row .nameWrapper span {
  color: #222;
  font-family: "Acumin Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.value-chain {
  padding-bottom: 100px;
  background-image: url("../images/value-chain-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.value-chain .container .row .sectionTitle {
  color: #1855a5;
}
.value-chain .container .row p {
  color: #000;
  font-family: "Acumin Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.value-chain .container .row h5 {
  color: #1855a5;
  font-family: "Proxima Nova Rg";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.value-chain .container .row ul li {
  position: relative;
  color: #000;
  font-family: "Acumin Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
}
.value-chain .container .row ul li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.value-chain .container .row ul li:nth-child(1)::before {
  background-color: #00aeef;
}
.value-chain .container .row ul li:nth-child(2)::before {
  background-color: #3ab54a;
}
.value-chain .container .row ul li:nth-child(3)::before {
  background-color: #f0593e;
}
@media screen and (max-width: 767px) {
  .value-chain .container .row .readmore {
    margin: 0 auto;
  }
}

.business-strategy {
  position: relative;
  background-color: #4e9aff;
  background-image: url("../images/bs-text.png");
  background-repeat: no-repeat;
  background-position: top 122% left -40px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .business-strategy {
    background-image: none;
    background-color: #4e9aff;
  }
}
@media screen and (min-width: 1600px) {
  .business-strategy {
    background-size: auto;
  }
}
.business-strategy::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .business-strategy::after {
    display: none;
  }
}
.business-strategy .container {
  z-index: 2;
}
.business-strategy .container .row.row1 {
  margin-top: -160px;
}
@media screen and (max-width: 767px) {
  .business-strategy .container .row.row1 {
    margin-top: 0;
  }
}
.business-strategy .container .row .sectionTitle {
  color: #ffffff;
}
.business-strategy .container .row p {
  color: #fff;
  font-family: "Acumin Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .business-strategy .container .row .bs-grid-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.business-strategy .container .row .bs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 80px;
}
@media screen and (max-width: 767px) {
  .business-strategy .container .row .bs-grid {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
}
.business-strategy .container .row .bs-grid .grid h4 {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 24px;
}
.business-strategy .container .row .bs-grid .grid h4::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.business-strategy .container .row .bs-grid .grid h4::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  position: absolute;
  bottom: -1px;
  background-color: #ffffff;
}
.business-strategy .container .row .bs-grid .grid .readmore {
  border-color: #ffffff;
  color: #ffffff;
  float: right;
}
.business-strategy .container .row .bs-grid .grid .readmore:hover {
  background-color: #ffffff;
  color: #00aeef;
}

.journey {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.journey .container .sectionTitle {
  color: #1855a5;
  margin-bottom: 25px;
}

.esg-approach {
  background-color: #fff;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.esg-approach .container .row .sectionTitle {
  color: #00aeef;
}
.esg-approach .container .row p {
  color: #222;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 25px;
}
.esg-approach .container .row ul li {
  text-transform: uppercase;
  display: inline-block;
  width: 48%;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 700;
}
.esg-approach .container .row ul li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
}
.esg-approach .container .row ul li:nth-child(1)::before {
  background-color: #00a34f;
}
.esg-approach .container .row ul li:nth-child(2)::before {
  background-color: #1755a6;
}
.esg-approach .container .row ul li:nth-child(3)::before {
  background-color: #f58233;
}
@media screen and (max-width: 767px) {
  .esg-approach .container .row .readmore {
    margin-bottom: 25px;
  }
}
.esg-approach .container .row.row2 .grid {
  border-right: 1px solid #d5d5d5;
}
@media screen and (max-width: 767px) {
  .esg-approach .container .row.row2 .grid {
    border-right: none;
    border-bottom: 1px solid #d5d5d5;
    padding-top: 25px;
    margin-bottom: 25px;
  }
}
.esg-approach .container .row.row2 h4 {
  font-size: 24px;
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  margin-bottom: 25px;
}
.esg-approach .container .row.row2 ul.env li {
  color: #00a34f;
}
.esg-approach .container .row.row2 ul.env li::before {
  background-color: #00a34f;
}
.esg-approach .container .row.row2 ul.social li {
  color: #f58233;
}
.esg-approach .container .row.row2 ul.social li::before {
  background-color: #f58233;
}
.esg-approach .container .row.row2 ul.gov {
  -moz-column-count: 2;
       column-count: 2;
}
@media screen and (max-width: 767px) {
  .esg-approach .container .row.row2 ul.gov {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.esg-approach .container .row.row2 ul.gov li {
  color: #1855a5;
}
.esg-approach .container .row.row2 ul.gov li::before {
  background-color: #1855a5;
}
.esg-approach .container .row.row2 ul li {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-left: 16px;
}
.esg-approach .container .row.row2 ul li::before {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 10px;
}

.egs-tabs {
  padding-bottom: 50px;
}
.egs-tabs .container .esg-nav select {
  display: block;
  min-width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
}
@media screen and (min-width: 1200px) {
  .egs-tabs .container .esg-nav select {
    display: none;
  }
}
.egs-tabs .container .esg-nav ul {
  position: relative;
  padding-left: 0;
  background-color: #fff;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .egs-tabs .container .esg-nav ul {
    display: none;
  }
}
.egs-tabs .container .esg-nav ul::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0;
  display: block;
  width: 56%;
  height: 1px;
  background-color: #00a34f;
}
.egs-tabs .container .esg-nav ul li {
  display: inline-block;
  margin-right: 40px;
  text-transform: capitalize;
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  opacity: 0.5;
}
.egs-tabs .container .esg-nav ul li:nth-child(1) {
  color: #00a34f;
}
.egs-tabs .container .esg-nav ul li:nth-child(2) {
  color: #1855a5;
}
.egs-tabs .container .esg-nav ul li:nth-child(3) {
  color: #f58233;
}
.egs-tabs .container .esg-nav ul li.active {
  opacity: 1;
}
.egs-tabs .container .tabContent .content {
  display: none;
  background-color: #eefaff;
  padding: 40px;
  border-radius: 40px;
}
@media screen and (max-width: 767px) {
  .egs-tabs .container .tabContent .content {
    padding: 20px;
  }
}
.egs-tabs .container .tabContent .content .contentTitle {
  color: #1855a5;
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .egs-tabs .container .tabContent .content .contentTitle {
    font-size: 48px;
  }
}
.egs-tabs .container .tabContent .content .contentPara {
  color: #343434;
  font-family: "Acumin Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .egs-tabs .container .tabContent .content .contentPara {
    padding-left: 50px;
  }
}
.egs-tabs .container .tabContent .content .env-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.egs-tabs .container .tabContent .content .env-list-wrapper .env-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 100px;
}
@media screen and (max-width: 767px) {
  .egs-tabs .container .tabContent .content .env-list-wrapper .env-list {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
.egs-tabs .container .tabContent .content .env-list-wrapper .env-list li {
  color: #00aeef;
  font-family: "Proxima Nova Rg";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.egs-tabs .container .tabContent .content .env-list-wrapper .readmore {
  float: right;
}
.egs-tabs .container .tabContent .content .cap,
.egs-tabs .container .tabContent .content .cap-txt {
  color: #343434;
  font-family: "Acumin Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.egs-tabs .container .tabContent .content .count {
  color: #00aeef;
  font-family: "Acumin Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
}
.egs-tabs .container .tabContent .content .leftBoard {
  border-right: 1px solid #c1c1c1;
}
@media screen and (max-width: 767px) {
  .egs-tabs .container .tabContent .content .leftBoard {
    padding-bottom: 50px;
    border-right: 0;
    border-bottom: 1px solid #c1c1c1;
  }
}
.egs-tabs .container .tabContent .content .gov-red .readmore {
  float: right;
}

.downloadCenter {
  padding-top: 50px;
  padding-bottom: 50px;
}
.downloadCenter .container .row .sectionTitle {
  color: #1855a5;
}
.downloadCenter .container .row .download-left {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .downloadCenter .container .row .download-right {
    margin-top: 50px;
  }
}
.downloadCenter .container .row .download-right .downloadGrid {
  position: relative;
  padding: 50px;
  background-color: #00aeef;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
@media screen and (max-width: 767px) {
  .downloadCenter .container .row .download-right .downloadGrid {
    grid-template-columns: 1fr;
  }
}
.downloadCenter .container .row .download-right .downloadGrid::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -80px;
  background-color: #00aeef;
}
@media screen and (max-width: 767px) {
  .downloadCenter .container .row .download-right .downloadGrid::before {
    display: none;
  }
}
.downloadCenter .container .row .download-right .downloadGrid .grid {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}
.downloadCenter .container .row .download-right .downloadGrid .grid a {
  display: block;
  width: 100%;
  padding: 1.5rem;
  height: 100px;
  padding-bottom: 100px;
}
.downloadCenter .container .row .download-right .downloadGrid .grid p {
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
@media screen and (max-width: 767px) {
  .downloadCenter .container .row .download-right .downloadGrid .grid p {
    font-size: 18px;
  }
}
.downloadCenter .container .row .download-right .downloadGrid .grid span {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.footer {
  background-color: #1855a5;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.highlights {
  padding-top: 100px;
  padding-bottom: 150px;
}
.highlights .container .highlightsBanner {
  position: relative;
}
.highlights .container .highlightsBanner h2 {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .highlights .container .highlightsBanner h2 {
    font-size: 20px;
    top: 20px;
    left: 20px;
  }
}
.highlights .container .highlights-nav select {
  display: none;
  min-width: 100%;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .highlights .container .highlights-nav select {
    display: block;
  }
}
.highlights .container .highlights-nav ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .highlights .container .highlights-nav ul {
    display: none;
  }
}
.highlights .container .highlights-nav ul li {
  cursor: pointer;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}
.highlights .container .highlights-nav ul li img {
  display: block;
}
.highlights .container .highlights-nav ul li span {
  display: block;
  padding-left: 12px;
  margin-top: 12px;
}
.highlights .container .highlights-nav ul li:nth-child(1) {
  color: #1855a5;
}
.highlights .container .highlights-nav ul li:nth-child(2) {
  color: #15baa9;
}
.highlights .container .highlights-nav ul li:nth-child(3) {
  color: #3ab54a;
}
.highlights .container .highlights-nav ul li:nth-child(4) {
  color: #04a5e1;
}
.highlights .container .highlights-nav ul li:nth-child(5) {
  color: #f0593e;
}
.highlights .container .highlights-nav ul li.active {
  opacity: 1;
}
.highlights .container .tabContent .content {
  display: none;
  border-radius: 40px;
  padding: 40px;
}
.highlights .container .tabContent .content .contentTitle {
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .highlights .container .tabContent .content .contentTitle {
    display: block;
  }
}
.highlights .container .tabContent .content .contentTitle img {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .highlights .container .tabContent .content .contentTitle img {
    display: block;
  }
}
.highlights .container .tabContent .content .contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .highlights .container .tabContent .content .contentGrid {
    grid-template-columns: 1fr;
  }
}
.highlights .container .tabContent .content .contentGrid .count {
  font-family: "Proxima Nova Rg";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.92px;
}
.highlights .container .tabContent .content .contentGrid p {
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.highlights .container .tabContent .content .fin-contentGrid p {
  color: #000;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 24px;
}
.highlights .container .tabContent .content:nth-child(1) {
  background-color: rgba(208, 242, 255, 0.4);
}
.highlights .container .tabContent .content:nth-child(1) .count {
  color: #1855a5;
}
.highlights .container .tabContent .content:nth-child(1) p {
  color: #343434;
}
.highlights .container .tabContent .content:nth-child(2) {
  background-color: rgba(21, 186, 169, 0.1);
}
.highlights .container .tabContent .content:nth-child(3) {
  background-color: rgba(58, 181, 74, 0.1);
}
.highlights .container .tabContent .content:nth-child(3) .count {
  color: #3ab54a;
}
.highlights .container .tabContent .content:nth-child(3) p {
  color: #343434;
}
.highlights .container .tabContent .content:nth-child(4) {
  background-color: rgba(0, 174, 239, 0.1);
}
.highlights .container .tabContent .content:nth-child(4) .count {
  color: #00aeef;
}
.highlights .container .tabContent .content:nth-child(4) p {
  color: #343434;
}
.highlights .container .tabContent .content:nth-child(5) {
  background-color: rgba(240, 89, 62, 0.1);
}
.highlights .container .tabContent .content:nth-child(5) .count {
  color: #f0593e;
}
.highlights .container .tabContent .content:nth-child(5) p {
  color: #343434;
}

.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 {
  background-color: #231d58;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 {
    min-height: auto;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid {
    grid-template-columns: 1fr;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(1) h2 {
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(1) h2 {
    font-size: 24px;
    line-height: 1.2;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(1) p {
  color: #fff;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(1) .readmore {
  border-color: #fff;
  color: #fff;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(1) .readmore:hover {
  color: #00aeef;
  background-color: #fff;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(2) {
  position: relative;
  top: 16px;
  border-top-left-radius: 20px;
  overflow: hidden;
  border-top-right-radius: 20px;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-1 .slide1Grid .grid:nth-child(4) {
    display: none;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 {
  background-color: #025e1f;
  min-height: 100vh;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: auto;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 img {
    display: none;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 .sectionTitle {
  color: #fff;
  margin-bottom: 20px;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 h4 {
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 h4 {
    font-size: 18px;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 p {
  color: #fff;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 50px;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 .readmore {
  border-color: #fff;
  color: #fff;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 .readmore:hover {
  color: #00aeef;
  background-color: #fff;
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-2 .netZero {
    width: 80%;
  }
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 16px;
  padding-right: 16px;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-3 p {
  color: #343434;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}
.sustainability .sustainabilitySwiper .swiper-wrapper .slide-3 .readmore {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .sustainability .sustainabilitySwiper .swiper-wrapper .slide-3 .crz-right {
    display: none;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.navSlider {
  position: absolute;
  width: 100%;
  left: 0;
  top: 450px;
}
@media (max-width: 767px) {
  .navSlider {
    top: 250px;
  }
}

.anim {
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.imgamin,
.imganimup {
  animation-duration: 1s;
  animation-delay: 1s;
}/*# sourceMappingURL=styles.css.map */